id: K70n0s510-kubeconfig
info:
  name: Exposed Kubernetes Config
  author: K70n0s510
  severity: critical
  description: Detects exposed kubeconfig files allowing full cluster takeover.
http:
  - method: GET
    path:
      - "{{BaseURL}}/.kube/config"
      - "{{BaseURL}}/admin.conf"
      - "{{BaseURL}}/kubeconfig"
      - "{{BaseURL}}/.kube/config.bak"
    matchers-condition: and
    matchers:
      - type: word
        words:
          - "apiVersion: v1"
          - "clusters:"
          - "users:"
          - "server: https://"
