id: K70n0s510-deep-k8s
info:
  name: Deep Kubernetes Exposure (Kubelet & Config)
  author: K70n0s510
  severity: critical
  description: Checks for exposed Kubelet API (10250) and Kubeconfig files.
http:
  - method: GET
    path:
      - "{{BaseURL}}/.kube/config"
      - "{{BaseURL}}:10250/pods"
      - "{{BaseURL}}:10250/runningpods"
      - "{{BaseURL}}/api/v1/pods"

    matchers-condition: or
    matchers:
      - type: word
        name: kubelet-exposure
        words:
          - '"kind": "PodList"'
          - "metadata"
          - "containers"
          - "namespace"
      - type: word
        name: kubeconfig-exposure
        words:
          - "apiVersion: v1"
          - "clusters:"
          - "users:"
